.col-md {
    margin: 0.75rem;
}

#appcontainer>:not(:first-child) {
    margin: 0 1rem;
}

h1 {
    text-align: center;
    margin: auto;
}

@media (max-width:750px) {
    .col-md {
        margin: 2px;
    }
}