/* You can add global styles to this file, and also import other style files */

.boss {
    white-space: nowrap;
    min-width: 7em;
}

@media (max-width:750px) {
    .table {
        font-size:0.7rem;
    }
}
